<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.paper-robin.fips-mac.node</string>

  <key>BundleProgram</key>
  <string>Contents/MacOS/fips</string>

  <key>ProgramArguments</key>
  <array>
    <string>fips</string>
    <string>--config</string>
    <string>/Library/Application Support/FIPS/fips.yaml</string>
  </array>

  <key>SpawnConstraint</key>
  <dict>
    <key>team-identifier</key>
    <string>8Z6Q2LZ77W</string>
    <key>signing-identifier</key>
    <string>fips</string>
    <key>validation-category</key>
    <integer>6</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>Disabled</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>WorkingDirectory</key>
  <string>/Library/Application Support/FIPS</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/FIPS/fips.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/FIPS/fips.log</string>
</dict>
</plist>
